.App {
  text-align: center;

}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e8decc;
  min-height: 100vh;
  display: compact;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-link {
  background: linear-gradient(to right, #1756d5, #a738ea);
  background-clip: text;
  color: transparent;
  display: inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

