@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

#createDocumentIcon{
    position: absolute;
    height: 15vmin;

}

#create-btn {
    margin-right:45px;
}


.image{
    width: 200px;
    height: 250px;
    margin-left: 50px;
    margin-right: 15px;

    transition: transform 0.3s; /* Add smooth transition for better user experience */
}

.image:hover {
    transform: scale(1.1); /* Increase the scale to enlarge the image */
}



.form-popup {
     background: linear-gradient(#c2ceec, #8ca5d9);
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     padding: 10px;
     border-radius: 110px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     animation: fadeInAndScale 0.5s ease-in-out;

 }

@keyframes fadeInAndScale {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}


.form-popup input[type="text"] {
    width: 300px; /* Set your desired width */
    height: 60px; /* Set your desired height */
    font-size: 18px;
}

.form-container{
    align-items: center;
    padding: 80px;

}

.btn{
    background: #17ab17;
    color: #ffffff;
    padding: 10px 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 30px;
    transition: background-color 0.3s, color 0.3s;

}

.btncancel{
    background: #c41010;
    color: #ffffff;
    padding: 10px 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s;


}

.btn:hover{
    background: #55bd55;
    animation: box 3s infinite;

}

.btncancel:hover{
    background: #de4949;
    animation: box 3s infinite;

}

@keyframes box {
    0% {
        transform: scale(1);
        box-shadow: 0 0 35px
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 35px
    }
}






