#createDocumentIcon{
    position: absolute;
    height: 15vmin;

}


.image{
    width: 200px;
    height: 250px;
    margin-left: 50px;
    margin-right: 15px;

    transition: transform 0.3s; /* Add smooth transition for better user experience */
}

.image:hover {
    transform: scale(1.1); /* Increase the scale to enlarge the image */
}
