.login-container {
    text-align: center;
    max-width: 300px;
    margin: auto;
    padding-top: 50px;
}

.input-label {
    display: block;
    margin-bottom: 10px;
}

.login-button {
    padding: 10px;
    background-color: #a21e1e;
    color: #695050;
    border: none;
}
