/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    display: flex; /* Use flexbox to center the items */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    padding-top: 50px;
    margin-top: -40px;
    padding-bottom: 10px;
    margin-bottom: -58px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    background-color: #333;
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover, .dropbtn {
    background-color: #3455f5;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.button {
    background: linear-gradient(#8ca5d9, #c6a1dc);
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}