/* Add this CSS to your stylesheets */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the content within the container */
}

h2 {
    color: #020202;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}

input {
    width: 150px;/* Adjusted width */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 2px solid #8ca5d9;
    border-radius: 5px;
    background-color: #ecf0f1;
    color: #333;
    text-align: center;
}

.button {
    background: linear-gradient(#8ca5d9, #c6a1dc);
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2980b9;
}

p {
    color: #2a2828;
    font-weight: bold;
}

.error-message {
    color: #c23826;
    font-weight: bold;
    margin-top: 10px;
}
