.searchInputs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  
  position: relative;
  top: 100px;
  left: -500px;
}

.parent-container {
  height: 0vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search input {
   background-color: pink;
   position: relative;
   top: 90;
   left: 20;
   border: 0;
   border-radius: 2px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   font-size: 18px;
   padding: 15px;
   height: 50px;
   width: 300px;
   
}


.searchIcon{
  font-size: 16px;
  padding: 10px;
  background: linear-gradient(45deg, #e8e5e5, #e06f91, #ad92ff);
}
  

input:focus{
   outline:none;
}

