/* UserComponent.css */

.navbar {
    display: flex;
    justify-content: flex-end; /* Align content to the top right */
    align-items: center;
    padding: 0;
    color: #000000;
}

.dropdown-container {
    display: inline-block;
    margin-right: 10px; /* Add margin to create space between the icon and other elements */
}

.user-icon {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: linear-gradient(45deg, #e8e5e5, #e06f91, #ad92ff);
    position: absolute;
    top: 19px;
    right: 15px;
    transition: transform 0.3s; /* Add smooth transition for better user experience */
}

.user-icon:hover {
    transform: scale(1.2); /* Increase the scale to enlarge the image */
}


.user-details {
    margin-left: 10px; /* Add margin to create space between the icon and user details */
    font-size: 16px;
}

.dropdown-container .open {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 90px; /* Adjust the distance from the icon */
    right: 10px; /* Adjust the distance from the right */
    background: linear-gradient(125deg, #e1dada, #e0cbd3); /* Light gray dropdown background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    opacity: 0;
    transform-origin: top right;
    transform: scaleY(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.dropdown-menu.show {
    display: block;
    opacity: 1;
    transform: scaleY(1);
    animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: scaleY(0);
    }
    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

.dropdown-menu button {
    background: linear-gradient(45deg, #e8e5e5, #e06f91, #ad92ff);; /* Red button color */
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    animation: fadeInAndScales 1.3s ease-in-out;
}
@keyframes fadeInAndScales {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}



